/* Import Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Rubik+80s+Fade&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

/* Tailwind utilities */
@tailwind utilities;

.font-rubik {
  font-family: 'Rubik 80s Fade', sans-serif;
}

.font-work {
  font-family: 'Work Sans', sans-serif;
}

.db-textcolor {
  color: #373e4f; 
}

.btn-custom {
  background-color: #373e4f !important; 
  color: white !important; 
  border-color: #373e4f !important;
  font-family: 'Work Sans', sans-serif;
}

.btn-custom:hover {
  background-color: #666D80 !important; 
  border-color: #666D80 !important;
}

.card-custom {
  width: 25rem;
  margin: 1rem;
}

.card-custom-director {
  width: 40rem;
  margin: 1rem;
}

.card-custom-alumni {
  width: 15rem;
  margin: 1rem;
}

.card-custom-former {
  width: 50rem;
  margin: 1rem;
}

.card-stat {
  width: 20rem;
  padding: 1rem;
  text-align: center;
}

.hero-container {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.text-lead {
  font-family: 'Work Sans', sans-serif;
  font-size: 1.25rem; 
}

.img-rounded-sm {
  border-radius: 0.25rem; 
  max-width: 100%;
  height: auto;
}

.flex-wrap-center {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1.5rem;
  margin-top: 2rem;
}

.card-custom img {
  width: 100%;
  height: 200px; 
  object-fit: cover;
  border-radius: 0.5rem; 
}


.responsive-paragraph {
  font-family: 'Work Sans', sans-serif;
  font-size: 1.5rem; 
  line-height: 1.5;
  letter-spacing: 0.05em;
}

@media (min-width: 640px) { /* sm */
  .responsive-paragraph {
    font-size: 1.125rem;
  }
}

@media (min-width: 768px) { /* md */
  .responsive-paragraph {
    font-size: 1rem;
  }
}

@media (min-width: 1024px) { /* lg */
  .responsive-paragraph {
    font-size: 1rem;
  }
}

@media (min-width: 1280px) { /* xl */
  .responsive-paragraph {
    font-size: 1.55rem;
  }
}
